.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.65);
}

h1 {
  margin: 20px;
  padding: 0;
  font-size: 50px;
  text-align: center;
}

p {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.5;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  overflow: hidden;
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg") center center/cover no-repeat;
  }
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate( -50%, -50% );
  -ms-transform: translate( -50%, -50% );
  -o-transform: translate( -50%, -50% );
  transform: translate( -50%, -50% );
}

@media (max-width: 767px) {
  .fullscreen-bg__video {
    display: none;
  }
}

